.engineeringBg {
  background-image: url('https://ik.imagekit.io/nz8zngrxv/amazon-image/nuno-marques-0GbrjL3vZF4-unsplash%201_DFQq2Pop9.jpg?updatedAt=1711326906965');
  background-blend-mode: hard-light;
  background-size: cover;
  width: 100%;
}

.engineeB {
  background: linear-gradient(
    90deg,
    #040314 0%,
    rgba(6, 4, 31, 0.595) 40.5%,
    rgba(97, 96, 112, 0) 100%
  );
}

.engYellow {
  color: rgba(255, 195, 52, 1);
}

.getQuote {
  background: rgba(254, 201, 16, 1);
}

.valueItem {
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.1);
}
.valueItem:hover {
  box-shadow: 0px 10px 35px 0px rgba(238, 176, 58, 0.25);
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border: 1px solid rgba(255, 195, 52, 1);
}

.offerBg {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.0455) 54.5%,
    rgba(255, 255, 255, 0) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.12);
}

.offerBg:hover {
  cursor: pointer;
  transition: 0.3s ease-in;
  background: rgba(255, 255, 255, 0.26);
}

.yellowLine {
  width: 56px;
  height: 8px;
  border-radius: 50px;
  background: rgba(255, 195, 52, 1);
  /* background: rgba(239, 68, 68, 1); */
}

.first_bg {
  background: rgba(6, 4, 31, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-image: url('https://ik.imagekit.io/nz8zngrxv/amazon-image/first_wCcpA3gw7.jpg?updatedAt=1711347556338');
  background-blend-mode: darken;
}
.second_bg {
  background: rgba(6, 4, 31, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-image: url('https://ik.imagekit.io/nz8zngrxv/amazon-image/second_JPglMp5Pa.jpg?updatedAt=1711348613744');
  background-blend-mode: darken;
}
.third_bg {
  background: rgba(6, 4, 31, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-image: url('https://ik.imagekit.io/nz8zngrxv/amazon-image/third_rYf7aD5-S.jpg?updatedAt=1711348805225');
  background-blend-mode: darken;
}

.fourth_bg {
  background: rgba(6, 4, 31, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-image: url('https://ik.imagekit.io/nz8zngrxv/amazon-image/fourth_BI_FNOlQF.jpg?updatedAt=1711349152885');
  background-blend-mode: darken;
}
.fifth_bg {
  background: rgba(6, 4, 31, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-image: url('https://ik.imagekit.io/nz8zngrxv/amazon-image/fifth_QgyOfTbnE.jpg?updatedAt=1711349152585');
  background-blend-mode: darken;
}
.sixth_bg {
  background: rgba(6, 4, 31, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-image: url('https://ik.imagekit.io/nz8zngrxv/amazon-image/sisth_VwsoB9fQ1.jpg?updatedAt=1711349153017');
  background-blend-mode: darken;
}

.first_bg1 {
  background: rgba(6, 4, 31, 0.8);
  background-image: url('https://ik.imagekit.io/nz8zngrxv/amazon-image/first_wCcpA3gw7.jpg?updatedAt=1711347556338');
  background-blend-mode: darken;
}
.first_bg12 {
  background-image: url('https://ik.imagekit.io/nz8zngrxv/amazon-image/first_wCcpA3gw7.jpg?updatedAt=1711347556338');
  background-blend-mode: darken;
}

.second_bg1 {
  background: rgba(6, 4, 31, 0.8);
  background-image: url('https://ik.imagekit.io/nz8zngrxv/amazon-image/second_JPglMp5Pa.jpg?updatedAt=1711348613744');
  background-blend-mode: darken;
}

.second_bg12 {
  background-image: url('https://ik.imagekit.io/nz8zngrxv/amazon-image/second_JPglMp5Pa.jpg?updatedAt=1711348613744');
  background-blend-mode: darken;
}

.third_bg1 {
  background: rgba(6, 4, 31, 0.8);
  background-image: url('https://ik.imagekit.io/nz8zngrxv/amazon-image/third_rYf7aD5-S.jpg?updatedAt=1711348805225');
  background-blend-mode: darken;
}
.third_bg12 {
  background-image: url('https://ik.imagekit.io/nz8zngrxv/amazon-image/third_rYf7aD5-S.jpg?updatedAt=1711348805225');
  background-blend-mode: darken;
}

.fourth_bg1 {
  background: rgba(6, 4, 31, 0.8);
  background-image: url('https://ik.imagekit.io/nz8zngrxv/amazon-image/fourth_BI_FNOlQF.jpg?updatedAt=1711349152885');
  background-blend-mode: darken;
}

.fourth_bg12 {
  background-image: url('https://ik.imagekit.io/nz8zngrxv/amazon-image/fourth_BI_FNOlQF.jpg?updatedAt=1711349152885');
  background-blend-mode: darken;
}

.fifth_bg1 {
  background: rgba(6, 4, 31, 0.8);
  background-image: url('https://ik.imagekit.io/nz8zngrxv/amazon-image/fifth_QgyOfTbnE.jpg?updatedAt=1711349152585');
  background-blend-mode: darken;
}

.fifth_bg12 {
  background-image: url('https://ik.imagekit.io/nz8zngrxv/amazon-image/fifth_QgyOfTbnE.jpg?updatedAt=1711349152585');
  background-blend-mode: darken;
}

.sixth_bg1 {
  background: rgba(6, 4, 31, 0.8);
  background-image: url('https://ik.imagekit.io/nz8zngrxv/amazon-image/sisth_VwsoB9fQ1.jpg?updatedAt=1711349153017');
  background-blend-mode: darken;
}

.sixth_bg12 {
  background-image: url('https://ik.imagekit.io/nz8zngrxv/amazon-image/sisth_VwsoB9fQ1.jpg?updatedAt=1711349153017');
  background-blend-mode: darken;
}

.chooseBg {
  background: linear-gradient(100.33deg, #4585e6 0%, #023ab0 57.71%);
  box-shadow: 0px 10px 30px 0px rgba(26, 23, 199, 0.3);
}

.projects {
  background: linear-gradient(180deg, #0f0f29 0%, #00000e 100%);
}
.aboutBg {
  background: linear-gradient(180deg, #0f0f29 0%, #00000e 100%);
}

.aboutR {
  background-image: url('https://ik.imagekit.io/nz8zngrxv/amazon-image/Frame%202291_lOKAPTFR6.jpg?updatedAt=1715620208058');
  background-size: cover;
  background-position: center;
}

.whiteLine {
  width: 56px;
  height: 8px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 1);
}

.seeMore {
  border: 1px solid rgba(28, 28, 28, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.academy_sha {
  box-shadow: 0px 2.5054943561553955px 2.5054943561553955px 0px #00000040;
}

.slick-item {
  flex: 0 0 auto;
  margin: 0 36px !important; /* Adjust the gap between items */
}

.slider-containerr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.previou {
  color: #00000e !important;
  background: #fff !important;
  display: flex;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  justify-content: center;
}
.previou > :first-child {
  margin-left: -24px;
  z-index: 100;
}

.nextbtn {
  color: #00000e !important;
  background: #fff !important;
  display: flex;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  justify-content: center;
}
.nextbtn > :first-child {
  margin-left: -20px;
  z-index: 100;
}

.slick-prev,
.slick-next {
  position: absolute;
  /* top: 50%; */
  transform: translateY(-50%);
  background-color: transparent; /* Adjust as needed */
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.slider-containerr:hover .slick-prev,
.slider-containerr:hover .slick-next {
  opacity: 1; /* Show on hover */
  transition: 0.2s ease-in-out;
}
.slick-container:hover .slick-prev,
.slick-container:hover .slick-next {
  opacity: 1; /* Show on hover */
  transition: 0.2s ease-in-out;
}

.slick-container {
  width: 96%;
}

.sslick-slide {
  padding: 0;
}

.ceo {
  background-image: url('../../assets/ceo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.ceoBg {
  background: linear-gradient(180deg, #0f0f29 0%, #00000e 100%);
}

.bgTrans {
  transition: background-color 0.2s ease;
}

.gradiett {
  background: linear-gradient(
    95.58deg,
    #60d32a -0.91%,
    #4a8e92 52.4%,
    #231fe6 102.8%
  );
}

.contact_uss {
  box-shadow: 0px 15px 50px 0px #00000026;
}
